<footer>
    <div class="footer-container">
      <p>&copy; 2024 AdventureAbode. All rights reserved.</p>
      <ul class="footer-links">
        <li>
          <a href="https://github.com/Smayuraa" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </li>
        <li>
          <a href="mailto:mayurisharma2003@gmail.com">
            <i class="fas fa-envelope"></i> Email
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="#privacy-policy">
            <i class="fas fa-user-secret"></i> Privacy Policy
          </a>
        </li>
        <li>
          <a href="#terms-and-conditions">
            <i class="fas fa-file-alt"></i> Terms & Conditions
          </a>
        </li>
      </ul>
    </div>
  </footer>